<!DOCTYPE html>
<html lang="eng">
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <title>Robot World</title>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top col-md-12 col-xs-12">
    <div class="container-fluid">
      <div class="navbar-header">
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home - </a></li>
          <li><a  href="/robots">Meet the Robots - </a></li>
          <li><a href="/robots/new">Create a Robot - </a></li>
          <li><a href="/about">Robot World Statistics</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
