<h2>Robot Generator</h2>
<form class="" action="/robots" method="post">
  <h3>Customize your robot, or leave fields blank to randomly generate!</h3>
  <ul>
    <li>Robot Name</li>
    <input type="text" name="robot[name]">
    <li>City</li>
    <input type="text" name="robot[city]">
    <li>State</li>
    <input type="text" name="robot[state]">
    <li>Year Created</li>
    <input type="text" name="robot[created]" placeholder="format: 1987">
    <li>Year Hired</li>
    <input type="text" name="robot[hired]" placeholder="format: 2007">
    <li>Department</li>
    <input type="text" name="robot[dept]">
 </ul>
 <input type= "submit">
</form>
