<br><br><br>
<div class="well-dash text-center">
  <h1><strong>Robot Generator</strong></h1>
<h3>Customize your robot or leave field(s) blank to randomly generate!</h3>
</div>

<div class="container col-md-offset-2">
  <div class="well-robot col-md-10">
<form class="form-group" action="/robots" method="post">
      <label for="robotname">Robot Name</label>
    <input type="text" class="form-control" id="robotname" name="robot[name]">
    <br>
    <label for="robotcity">City Robot Is From</label>
  <input type="text" class="form-control" id="robotcity" name="robot[city]">
  <br>
  <label for="robotstate">State Robot Is From</label>
<input type="text" class="form-control" id="robotstate" name="robot[state]">
<br>
<label for="robotcreated">Year Robot Was Created</label>
<input type="text" class="form-control" id="robotcreated" name="robot[created]">
<br>
<label for="robothired">Year Robot Was Hired</label>
<input type="text" class="form-control" id="robothired" name="robot[hired]">
<br>
<label for="robotdept">Department Robot Works In</label>
<input type="text" class="form-control" id="robotdept" name="robot[dept]">
 <br>
 <button class="btn btn-success" type= "submit">Make My Robot!</button>
</form>
</div>
</div>
